S3_BUCKET=your_s3_bucket_name
AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
S3_REGION=us-east-1
BACKEND_URL=http://localhost:8080/rag/query?collection_name=productsAll
MILVUS_HOST=localhost
MILVUS_PORT=19530
OPENAI_API_KEY=your_openai_key
LOCAL_IMAGE_PATH=./images/small_selected
